/* abhivija, aishiyer */

.first {
	height: 70px;
	background-color:black;
}

.site_title { 
	float: left; 
	margin-top: 10px;
	margin-left: 20px; 
	color:#77d42a;
	font-size:36px;
}

#templatemo_menu { 
	float: right; 
	margin-top: 20px; 
}

.ddsmoothmenu{
	float: right;
	margin-top: 10px
}

.ddsmoothmenu ul{
	z-index:100;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/*Top level list items*/
.ddsmoothmenu ul li{
	position: relative;
	display: inline;
	float: left;
}

/*Top level menu link items style*/
.ddsmoothmenu ul li a {
	display: block;
	position: relative;
	height: 30px;
	line-height: 30px;
	padding: 0 30px;
	margin: 0 0 5px 0;
	font-size: 14px;
	color: #fff;	
	text-align: center;
	text-decoration: none;
	font-weight: 400;
	outline: none;
	border-right: 1px solid #666;
}

* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}

.ddsmoothmenu ul li.selected { /*CSS class that's dynamically added to the currently active menu items' LI A element*/
	color: #ffb302;
}

.selected{ background-color: #ffb302; }

.ddsmoothmenu ul li li.selected a.selected, .ddsmoothmenu ul li a:hover { /*CSS class that's dynamically added to the currently active menu items' LI A element*/
	color: #ffb302;
}
/*1st sub level menu*/
.ddsmoothmenu ul li ul{
	position: absolute;
	left: 0;
	display: none; /*collapse all sub menus to begin with*/
	visibility: hidden;
	background: #292929;
	padding-bottom: 12px;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li{
display: list-item;
float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{
top: 0;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a{
	font-weight: 500;
	width: 120px; /*width of sub menus*/
	height: 22px;
	padding: 2px 10px 5px;
	margin: 0;
	font-size: 12px;
	border-top-width: 0;
	text-align: left;
	background: none;
	color: #ccc;
	border: none;
}


.ddsmoothmenu ul li ul li a.selected, .ddsmoothmenu ul li ul li a:hover { text-decoration: underline; background: none }

/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
position: absolute;
top: 12px;
right: 7px;
}

.rightarrowclass{
position: absolute;
top: 6px;
right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{
position: absolute;
left: 0;
top: 0;
width: 0;
height: 0;
background: #fff;
}

.toplevelshadow{ /*shadow opacity. Doesn't work in IE*/
opacity: 0.5;
}

/* menu background-color:#77d42a; */
.buttonstyle{
float:right;
margin-right:35px;
margin-top:30px;
border-top-Left-radius:12px;
border-top-right-radius:12px;
border-bottom-right-radius:12px;
border-bottom-Left-radius:12px;
font-family:Arial;
font-size:15px;
font-weight:bold;
font-style:normal;
height:28px;
text-align:center;}
.buttonstyle:hover{background-color:#5cb811;}
.buttonstyle:active{position:relative;top:1px;}

.textbox {
	border: 1px solid #848484;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	outline: 0;
	height: 25px;
	width: 275px;
	padding-left: 10px;
	padding-right: 10px;
}
#rounded-corner {
	margin: 0px;
 	width="100%";
	text-align: left;
	background: #525252;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
#rounded-corner th {
	padding: 8px;
	font-size: 14px;
	color: #FFFFFF;
}
#rounded-corner td {
	padding: 8px;
	background: #FFF;
	border-top: 1px solid #fff;
	font-size: 15px;
}
#rounded-corner tbody tr:hover td {
	background: #d2e7f0;
	font-size: 16.5px;
}

#rounded-corner-grv {
	margin: 0px;
 	width="100%";
	text-align: left;
	background: #525252;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#rounded-corner-grv th {
	padding: 8px;
	font-size: 14px;
	color: #FFFFFF;
}

#rounded-corner-grv tbody tr:hover td {
	background: #d2e7f0;
	font-size: 16.5px;
}

.nodec
{
	text-decoration:none;
}

.buttons {
	text-decoration: none;
	text-align: center;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	font: 15px Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
}

.grievance{
background-color: #ffe6e6;
}

.finalized-sl{
background-color: #adebad;
}

.selected-sl{
background-color: #ccffff;
}

.solution{
background-color: #d6ffad;
}

.expected-outcome{
background-color: #ffffcc;
}

.actual-outcome{
background-color: #ffe680;
}

.select-a-sol{
background-color: #ffffff;
}

.errorlist
{
	color:#990000;
	text-decoration:none;
}
