{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8" />

<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href= "{% static "assets/css/base.css" %}" />

<script src="{% static "assets/js/jquery-2.0.0.min.js" %}" ></script>
<script src="{% static "assets/js/ajax.js" %}" ></script>

{% block extra_head %}{% endblock %}
</head>
<body>

	<div class="first">
		<div class="site_title">
			sortmeout
		</div>
	
		<div id="templatemo_menu" class="ddsmoothmenu" align="right"><!-- id="templatemo_menu" -->
    		<ul>
    			{% if mId >= 0 %}
    				{% if member.is_expert %}
      					<li>{% block my-forum1 %}<a href="{% url 'members.views.all_grievances_view' 'private_forum' %}" >{{ member.user.first_name }}'s Forum</a>{% endblock %}</li>
      					<li>{% block exp-forum1 %}<a href="{% url 'members.views.all_grievances_view' 'expert_forum' %}" >Expert Forum</a>{% endblock %}</li>
      					<li>{% block pub-forum1 %}<a href="{% url 'members.views.all_grievances_view' 'public_forum' %}" >Public Forum</a>{% endblock %}</li>
      				{% else %}
      					{% if member.is_member %}
      					<li>{% block my-forum2 %}<a href="{% url 'members.views.all_grievances_view' 'private_forum' %}" >{{ member.user.first_name }}'s Forum</a>{% endblock %}</li>
      					<li>{% block pub-forum2 %}<a href="{% url 'members.views.all_grievances_view' 'public_forum' %}" >Public Forum</a>{% endblock %}</li>
      					{% endif %}
      				{% endif %}
      			{% else %}
      				<li>{% block pub-forum3 %}<a href="{% url 'members.views.all_grievances_view' 'public_forum' %}" >Public Forum</a>{% endblock %}</li>
      			{% endif %}
    		</ul>
    		
    		{% if mId < 0 %}
    			{% if not disableLogin %}
    				<button class="buttons" type="button"><a href="{% url 'sortmeout.views.login_view' %}" class="nodec">log(me)in</a></button>
    			{% endif %}
    			{% if not disableSignup %}
    				<button class="buttons" type="button"><a href="{% url 'members.views.signup_view' 'member' %}" class="nodec">sign(me)up</a></button>
    			{% endif %}	
			{% else %}
				<button class="buttons" type="button"><a href="{% url 'sortmeout.views.logout_view'%}" class="nodec">log(me)out</a></button>
			{% endif %}
  		</div>
	</div>
	
	{% if errors %}
     	<ul>
         	{% for error in errors %}
         	<li>{{ error }}</li>
         	{% endfor %}
     	</ul>
	{% endif %}
	
	{% block content %}{% endblock %} 
	
	{% block footer %}
		<hr>
		<div id="templatemo_footer"> Copyright © sortmeout will never disclose any information you share here, 
		including your username, with any person, party or organization not authorized to work on your request on our behalf.</div>
	{% endblock %}
</body>
</html>
