{% extends "base.html" %}
{% load static %}

{% block title %}grievance list{% endblock %}

{% block content %}
<form action="" method="POST">
{% csrf_token %}
	<div class="sidebar_search">
	<table>
		<tr>
		<td><label for="id_srchstr">Looking for:</label></td>
		
		<td>
		{{ form.non_field_errors }}
    	{{ form.srchStr.errors }}
    	{{ form.srchStr }}&nbsp;&nbsp;&nbsp;&nbsp;
    	</td>
    	
    	<td><label for="id_category">In categories:</label></td>
    	
    	<td>
    	{{ form.category.errors }}
    	{{ form.category }}&nbsp;&nbsp;
    	<ul id="lookup-results" class="cats">
    	</ul>
    	<td>
    	
    	<td>
    	<input type="submit" value="search" name="keypress" class="buttons"/>
    	</td>
    	</tr>
    </table>
    </div>
    
    {% if mId >= 0 %}
		{% if member.is_member or member.is_expert %}
			<button class="buttons" type="button"><a id="new_grievance" href="{% url 'members.views.post_new_grievance_view' %}" class="nodec">can someone sort(me)out !!!</a></button>
		{% endif %}
	{% endif %}
	
	<p>
		<h2>List of Grievances: </h2>
		
		<div id="main">
		<table border="1" cellpadding="4" width="100%" class="tablesorter" id="rounded-corner" >
			<thead>
			<tr>
		        <th width="70%" scope="col">Grievance</th>
		        {% if mId >= 0 and member.is_expert %}
		        	<th width="10%" scope="col">Category(ies)</th>
		        	<th width="10%" scope="col">Author</th>
		        	<th width="10%" scope="col">Created On</th>
		        {% else %}
		        	<th width="15%" scope="col">Category(ies)</th>
		        	<th width="15%" scope="col">Created On</th>
		        {% endif %}
		    </tr>
			</thead>
			
			<tbody>
			{% for grievance in grievances %}
			<tr>
				<td {% if forloop.last %}class="last"{% endif %}>
					<div class="title"> 
						{% load url from future %}
						<a href="{% url 'members.views.grievance_view' grievance.pk 0 %}">{{ grievance.title }}</a>
            		</div>
				</td>
				
				<td {% if forloop.last %}class="last"{% endif %}>
					<!-- <div class="griscats">  -->
						{% for griscat in griscats %}
							{% if griscat.gr == grievance %}
								{% for category in categories %}
									{% if category == griscat.cat %}
										{{ category.name }}{% if not forloop.last %},{% endif %}
									{% endif %}
								{% endfor %}
							{% endif %}
						{% endfor %}
					<!-- </div> -->
				</td>
				
				{% if mId >= 0 and member.is_expert %}
		        	<td {% if forloop.last %}class="last"{% endif %}>
		        		{% for grievanceAuthor in grievanceAuthors %}
            				{% if grievance.ath == grievanceAuthor %}
            					{{ grievanceAuthor.user.username }}
            				{% endif %}
            			{% endfor %}</td>
		        {% endif %}
				
				<td {% if forloop.last %}class="last"{% endif %}>{{ grievance.creation_tstmp }}</td>
			</tr>
			</tbody>
			{% endfor %}
		
			<!-- Next/Prev page links  -->
        	{% if grievances.object_list and grievances.paginator.num_pages > 1 %}
        	<tfoot><tr><td colspan="4" class="rounded-foot-left">
        		{% if grievances.has_previous %}
            		<a href= "?page={{ grievances.previous_page_number }}">&lt;</a>
            	{% endif %}

            	&nbsp;Page {{ grievances.number }} of {{ grievances.paginator.num_pages }}

            	{% if grievances.has_next %}
            		<a href="?page={{ grievances.next_page_number }}">&gt;</a>
            	{% endif %}
        	</td></tr></tfoot>
        	{% endif %}
        </table>
		</div>
</form>
{% endblock %}