{% extends "base.html" %}

{% block title %}sortmeout new member signup{% endblock %}

{% block content %}
<form action="" method="POST">
{% csrf_token %}
	<p>
		{% if signuptype == 'member' %}
			<h2>New (Me)mber Signup: </h2><br />
			<a href="{% url 'members.views.signup_view' 'expert'%}">switch to expert signup</a>
		{% else %}{% if signuptype == 'expert' %}
				<h2>New Expert (Me)mber Signup: </h2><br />
				<a href="{% url 'members.views.signup_view' 'member'%}">switch to member signup</a>
			{% endif %}
		{%endif %}<br />
		
		{{ form1.non_field_errors }}
		{{ form2.non_field_errors }}
		
        {{ form2.first_name.errors }}
        <label for="id_firstname">First Name:</label>
        {{ form2.first_name }}<br />
        	
        {{ form2.last_name.errors }}
        <label for="id_lastname">Last Name:</label>
        {{ form2.last_name }}<br />

        {{ form1.dob.errors }}
        <label for="id_dob">Birth Date:</label>
        {{ form1.dob }}<br />

        {{ form1.address.errors }}
        <label for="id_address">Address:</label>
        {{ form1.address }}<br />

        {{ form2.email.errors }}
        <label for="id_email">Email Address:</label>
        {{ form2.email }}<br />

        {{ form1.phone_no.errors }}
        <label for="id_phone_no">Contact Number:</label>
        {{ form1.phone_no }}<br />
    	
    	{% if signuptype == 'expert' %}
        	{{ form1.designation.errors }}
        	<label for="id_designation">Designation:</label>
        	{{ form1.designation }}<br />

        	{{ form3.category.errors }}
        	<label for="id_category">Categories:</label>
        	{{ form3.category }}<br />
        	
        	<ul id="lookup-results">
    		</ul>
		{% endif %}
    	
        {{ form2.username.errors }}
        <label for="id_username">Username (for login):</label>
        {{ form2.username }}<br />

        {{ form2.password.errors }}
        <label for="id_password">Password (for login):</label>
        {{ form2.password }}<br />

        {{ form2.repassword.errors }}
        <label for="id_repassword">Confirm Password:</label>
        {{ form2.repassword }}<br />

		<p><input type="submit" value="signmeup" name="keypress" /></p>
	</p>
</form>
{% endblock %}